@keyframes grow {
  0% {
    width: 0;
    visibility: visible;
  }
  100% {
    width: full;
    visibility: visible;
  }
}

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert-slide-down {
  opacity: 0;
  animation: fade-down 0.5s ease-in-out forwards;
}

.slide-x-head {
  opacity: 0;
  animation: slide-right 0.6s ease-in-out forwards;
}

.slide-y-head {
  opacity: 0;
  animation: fade-up 0.6s ease-in-out forwards;
}

.slide-x-subhead {
  opacity: 0;
  animation: slide-right 0.6s ease-in-out forwards;
  animation-delay: 0.5s;
}

.slide-y-subhead {
  opacity: 0;
  animation: fade-up 0.6s ease-in-out forwards;
  animation-delay: 0.5s;
}

.growing-hr {
  width: 0; /* Start with zero width */
  visibility: hidden; /* Hide it initially */
  animation: grow 0.6s ease-out forwards 0.3s;
}

.bg-anim {
  opacity: 0;
  animation: fade-in 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}

.box-anim1 {
  opacity: 0;
  animation: fade-up 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

.box-anim2 {
  opacity: 0;
  animation: fade-up 0.5s ease-in-out forwards;
  animation-delay: 0.75s;
}

.box-anim3 {
  opacity: 0;
  animation: fade-up 0.5s ease-in-out forwards;
  animation-delay: 0.95s;
}

.box-anim4 {
  opacity: 0;
  animation: fade-up 0.5s ease-in-out forwards;
  animation-delay: 1.15s;
}

.box-anim5 {
  opacity: 0;
  animation: fade-up 0.5s ease-in-out forwards;
  animation-delay: 1.35s;
}

.box-anim6 {
  opacity: 0;
  animation: fade-up 0.5s ease-in-out forwards;
  animation-delay: 1.55s;
}
